name: CI - Spring Boot (Maven)

on:
  push:
    branches: ["main", "master"]
  pull_request:

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      # Optional but nice: show Maven + Java versions in logs
      - name: Show versions
        run: |
          java -version
          mvn -version

      - name: Package JAR
        run: mvn -B package -DskipTests

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t 43vignesh34/springboot-app:latest .
          docker push 43vignesh34/springboot-app:latest

      - name: Upload Dockerrun for EB
        uses: actions/upload-artifact@v4
        with:
          name: eb-dockerrun
          path: Dockerrun.aws.json
          retention-days: 1


      - name: Run Unit + Integration tests
        run: mvn -B clean verify

  deploy:
    # 1. DEPENDENCY: Only run if 'build-and-test' passed
    needs: build-and-test
    runs-on: ubuntu-latest
    
    # 2. TRIGGER: Only deploy on push to main (don't deploy PRs!)
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download Dockerrun
        uses: actions/download-artifact@v4
        with:
          name: eb-dockerrun

      - name: Debug Secrets
        run: |
          if [ -z "${{ secrets.AWS_ACCESS_KEY_ID }}" ]; then
            echo "Access Key is MISSING or EMPTY"
          else
            echo "Access Key is FOUND (Length: ${#KEY})"
          fi
        
        env:
          KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
          
      # 4. THE DEPLOYMENT: The standard Action to talk to AWS
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with: # The key and secret key are what tells aws to allow us to deploy to that environment
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: AssessmentApplication
          environment_name: AssessmentApplication-docker-env         
          version_label: "ver-${{ github.sha }}"    # Unique ID for this deployment
          region: ap-southeast-2                         # Replace with your real region
          deployment_package: Dockerrun.aws.json
